In [2]:
%load_ext autoreload
%autoreload 2

In [6]:
from pathlib import Path
import pandas as pd


PROJECT_ROOT = Path.cwd().parents[0]   # notebooks/ → proyecto/
DATA_RAW = PROJECT_ROOT / "data" / "raw"

In [ ]:
df = pd.read_excel(DATA_RAW / "microvap_metadata_complete_15012026.xlsx")
df.head()

,specimen,copies_ul_dna,patient_id,timepoint,timepoint_character,tissue_type,admission_date_cus,admission_date_icu,days_stay_icu,pneumonia,...,Otu16160,Otu16185,Otu16895,Otu17366,Otu17509,Otu17573,Otu17638,Otu18078,Otu18302,Otu18444
0,006_1_BAL,3459.212646,6,uno,baseline,bal,2020-01-28,2020-01-28,5,no_vap,...,0,0.0,0,0.0,0,0,0.0,0,0,0
1,006_1_NASAL,NaN,6,uno,baseline,nasal,2020-01-28,2020-01-28,5,no_vap,...,0,0.0,0,0.0,0,0,0.0,0,0,0
2,006_1_TS,14486.053060,6,uno,baseline,ts,2020-01-28,2020-01-28,5,no_vap,...,0,0.0,0,0.0,0,0,0.0,0,0,0
3,011_1_BAL,804.843343,11,uno,baseline,bal,2020-02-05,2020-02-05,12,no_vap,...,0,0.0,0,0.0,0,0,0.0,0,0,0
4,011_1_NASAL,NaN,11,uno,baseline,nasal,2020-02-05,2020-02-05,12,no_vap,...,0,0.0,0,0.0,0,0,0.0,0,0,0

In [9]:
df['specimen'].unique()

<StringArray>
[  '006_1_BAL', '006_1_NASAL',    '006_1_TS',   '011_1_BAL', '011_1_NASAL',
    '011_1_TS',   '011_2_BAL', '011_2_NASAL',    '011_2_TS',   '012_1_BAL',
 ...
    '299_1_TS',   '299_2_BAL', '299_2_NASAL',    '299_2_TS',   '299_3_BAL',
 '299_3_NASAL',    '299_3_TS',   '299_4_BAL', '299_4_NASAL',    '299_4_TS']
Length: 874, dtype: str